<div class="gf-form-group">
    <div class="gf-form-inline">
        <div class="gf-form gf-form--grow">
            <input
                    class="gf-form-input"
                    placeholder="query expression"
                    ng-model="ctrl.annotation.query"
            >
        </div>
    </div>

    <div class="gf-form-inline gf-form--grow">
        <pre>Note!
Annotations query should have such variables as
<i>'text': string</i>
<i>'tags': string[]</i>
<i>'title': string</i>
    and must have
<i>'time': number</i> variable.</pre>
    </div>
</div>
