
.query-field-label {
    height: 64px;
}

.query-options {
    margin-left: 4px;
    width: 100%;
}

.query-options-switch {
    padding: 10px 8px;
    width: 48px;
}

.query-variables-list {
    padding: 0 40px 8px;
}

.query-variables-note {
    padding: 0 20px;
}
