
.query-field-label {
    height: 64px;
}

.query-option-collapsible {
    margin-left: 4px;
    width: 100%;
}

.query-option-collapsible-text {
    padding-left: 32px;
}

.query-option-switch {
    padding: 10px 8px;
    width: 48px;
}

.query-variables-list {
    padding-left: 16px;
}

.query-variables-note-header {
    margin-bottom: 4px;
}
